################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/eWolfLabs/Examples/obj/Debug
/eWolfLabs/.vs/eWolfLabs/v15/Server/sqlite3
/eWolfLabs/Examples/bin/Debug
/eWolfLabs/.vs/eWolfLabs/v15
/eWolfLabs/ExamplesUnitTests/bin/Debug
/eWolfLabs/ExamplesUnitTests/obj/Debug
/eWolfLabs/packages
