################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/eWolfLabs/Examples/obj/Debug
/eWolfLabs/.vs/eWolfLabs/v15/Server/sqlite3
/eWolfLabs/Examples/bin/Debug
/eWolfLabs/.vs/eWolfLabs/v15
/eWolfLabs/ExamplesUnitTests/bin/Debug
/eWolfLabs/ExamplesUnitTests/obj/Debug
/eWolfLabs/packages
/eWolfLabs/BasicUnitTests/.vs/BasicUnitTests/v15
/eWolfLabs/BasicUnitTests/CalculatorUnitTests/bin/Debug
/eWolfLabs/BasicUnitTests/Calculator/bin/Debug
/eWolfLabs/BasicUnitTests/Calculator/obj/Debug
/eWolfLabs/BasicUnitTests/CalculatorUnitTests/obj/Debug
/eWolfLabs/BasicUnitTests/packages
/eWolfLabs/BasicUnitTests/.axoCover
/eWolfLabs/.axoCover/runs/run_2018-06-16_06-55-33
/eWolfLabs/UntestableCode/UntestableCode/bin/Debug
/eWolfLabs/UntestableCode/UntestableCode/obj/Debug
/eWolfLabs/UntestableCode/UntestableCodeTests/bin/Debug
/eWolfLabs/UntestableCode/UntestableCodeTests/obj/Debug
